Binaries
DerivedDataCache
Intermediate
Saved
Build
Content/*

!Content/Maps/
!Content/Blueprints/


.vs
.vscode
*.VC.db
*.opensdf
*.sdf
*.sln
*.suo
*.scodeproj
*.xcworkspace

# Rider / JetBrains
.idea/
.idea_BACKUP/
.idea_modules/
*.sln.iml
*.ipr
*.iws
*.DotSettings.user